@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

main {
  min-height: 92vh;
}
