main {
  background-color: #f9f9f9;
}

footer {
  padding: 1rem;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-top: 10rem;
  margin-right: auto;
  background-color: #46606a;
  width: 100vw;
  color: #f9f9f9;
}

footer p {
  font-size: 1rem;
}

.final {
  background-color: #f9f9f9;
}
