.product-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.product-card {
  margin: auto;
  width: 90%;
  border: 1px solid #c4c4c4;
  box-shadow: 8px 6px 8px #888888;
  padding: 2rem;
}

p {
  font-size: 2.25rem;
}

.product-title {
  margin-top: 1rem;
  font-size: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.product-card:hover h2 {
  cursor: pointer;
}

.product-card:hover img {
  cursor: pointer;
}

.product-details {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border: 1px solid grey;
  padding-block: 20px;
  font-size: 30px;
}
