.nav-li {
  display: flex;
}

.nav-ul {
  padding-left: 0.5rem;
}

.nav-button {
  /* background-color: #49aad0; */
  padding-block: 0.7rem;
  padding-inline: 0.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(0, 44, 205);
}

.nav-button:hover {
  color: rgb(0, 0, 0);
}

/*

.second-nav {
  flex-grow: 1;
}

.profile-inner {
  flex-grow: 12;
} */

.profile-container {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 5vw;
  color: rgb(24, 83, 134);
  min-width: 30rem;
}

.second-nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 68px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

@media (max-width: 35em) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-betweenn;
    margin-left: auto; /* Same as the width of the sidebar */
  }

  .nav-li {
    font-size: 0.75rem;
  }

  .second-nav {
    position: static;
    padding-top: 0px;
    width: 100%;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
  }
}

.profile-inner h2 {
  text-align: end;
  font-size: 1.25rem;
}

.profile-inner h1 {
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  margin-right: clamp(0.1rem, 1vw, 10rem);
  margin-block: 2rem;
  padding-block: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(200, 199, 199);
}

.product-list {
  margin-top: 2rem;
}

.order-list {
  margin-top: 2rem;
  margin-left: 0.75rem;
}

.selling-list {
  margin-top: 2rem;
  margin-left: 0.75rem;
}

.product-title {
  color: black;
}

.nav-li {
  font-size: 0.9rem;
}

@media (min-width: 35em) {
  .nav-li span {
    margin-left: 0.2rem;
  }

  .update-address-icon {
    margin-left: 0.15rem;
    margin-right: 0.09rem;
  }

  .change-name-icon {
    margin-left: -0.1rem;
    margin-right: 0.2rem;
  }

  .my-product-icon {
    margin-left: -0.1rem;
  }

  .my-orders-icon {
    margin-left: -0.08rem;
    margin-right: 0.1rem;
  }
}

.name-change-success {
  font-size: 1rem;
  text-align: center;
  color: rgb(19, 151, 2);
  font-family: "Kumbh Sans";
}

.name-change-success {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.name-change-success.visible {
  opacity: 1;
}

.name-change-success.hidden {
  opacity: 0;
}

.address-feedback {
  margin: 1rem 0 0 1rem;
}
